html {
    display: grid;
    justify-items: center;
}

body {
    max-width: 1280px;
    padding-left: 83px;
    padding-right: 93px;
}

.header {
    background-color: #fff;
    font-family: "Inter";
    font-style: normal; 
}

.main {
    font-family: "Inter";
    font-style: normal; 
}

.container {
   
    margin: auto;
    background-color: #fff;
    font-family: "Inter";
    font-style: normal;
}

.header_header-row {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-row_logo {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;

}

.header-nav_home {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.header-row_search {
    margin-left: 300px;
}

.header-row_input {
font-size: 16px;
line-height: 19px;
color: #718096;
width: 66px;
height: 19px;
cursor: pointer;
margin-right: 150px;
border: none;
}

.header-row_input:focus {
    outline: none;

}

.link {
    font-size: 20px;
    line-height: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;  
}

.head-section {
   display: flex;
}

.head-section_h1 {

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 60px;
line-height: 73px;

}

.head-section_cup {
    position: relative;
    left: 195px;
    right: 60px;
    top: -140px;
    bottom: 38px;
}

.head-section_people {

    margin-left: 530px;
    margin-top: -280px;
    
}

.head-section_h2 {

font-weight: 400;
font-size: 30px;
color: #4A5568;
position: relative;
bottom: 150px;

}


.main-card_latest {
    
    height: 243px;
    padding: 74px 0px 30px;
}

.main-card_h1 {
    font-size: 30px;
    color: #2D3748;
    padding: 20px 550px 10px 20px;
}

.main-card_h2{
    padding: 0px 490px 20px 20px;
}
.main-card_img {
    margin-left: 530px;
    margin-top: -200px;
    padding: 0px 0px 70px 0px;

}

.main-card_data {
    padding: 0px 0px 0px 20px;
}
.main-card_more {
    position: relative;
    left: 390px;
    bottom: 22px;
    font-size: 12px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.main-panel {
   
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-panel_right {
    margin-right: -35px;
}

.main-panel_h1 {
 
    font-size: 20px;
    line-height: 20px;
    height: 19px;
    font-weight: 700;
    display: flex;
    padding: 15px 0px 5px 15px;
}
    
.main-panel_text {
    font-size: 14px;
    line-height: 18px;
    display: flex;
    height: 90px;
    color: #718096;
    padding: 15px 25px 25px 17px;
}

.main-panel_data {
    font-size: 12px;
    display: flex;
    color: #718096;
    padding: 0px 25px 0px 17px;
}

.main-highlight{
    height: 500px;
    width: 965;
    background-color: #F7FAFC;

}
.main-panel_more {
    display: flex;
    justify-content: end;
    padding: 0px 29px 65px 0px;
    margin-top: -20px;
    font-size: 12px;
    font-weight: 700;
    line-height: 24px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.main-highlight_h1 {
    
    font-size: 30px;
    font-weight: 700;
    padding: 100px 0px 0px 50px;
}
.main-highlight_text {
    padding: 30px 550px 20px 50px;
    color: #718096;
}

.main-highlight_img {
    position: relative;
    bottom: 338px;
    left: 355px;
}

.main-highlight_data {
    position: relative;
    left: 50px;
    color: #718096;
}

.main-highlight_more {
    position: relative;
    bottom: 505px;
    left: 300px;
    font-weight: 700;
    font-size: 16px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.main-highlight_button {
    Width: 122px;
    Height: 37px;
    background: #6B46C1;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    position: relative;
    bottom: 290px;
    left: 230px;

}

.main-highlight_arrow {
    position: relative;
    top: 3px;
    left: 7px;
}

.footer {
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 90px 0px 0px 0px;

}

.footer-footer_row{
    display: flex;
    justify-content: space-between;
    gap: 178px;
}
 
.footer-logo {
    font-weight: 400;
    font-size: 16px;
}
.footer-linke_inst {
    position: relative;
    left: 295px;
}
.footer-linke_twitt {
    position: relative;
    left: 170px;
}
.footer-linke_in {
    position: relative;
    left: 30px;
}

.container-text {
    width: 765px;
    margin: 0 auto;
    font-family: "Inter";
    font-style: normal; 
}

.main-text_img{
Width: 973px;
Height: 380.37px;
display: block;
margin-left: auto;
margin-right: auto;
padding: 0px 0px 40px;
}

.main-text_h1 {
   font-weight:700;
   font-size:45px;
  color:#2D3748 ; 
   
}

.main-text_h2 {
    font-size: 16px;
    font-weight: 700;
}

.main-text_data {
    position: relative;
    left: 200px;
    bottom: 20px;
    font-weight: 400;
font-size: 18px;
color:  #718096;
padding: 0px 0px 70px;
}

.main-text_p {
    color: #718096;
}

.main-text_h {
    font-family: Inter;
font-size: 30px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0em;
text-align: left;

}
.main-text_up {
    border: none;
    background: none;
    position: sticky;
    left: 1200px;
    cursor: pointer;
}
